<title>MTG Turn- Beginning Phase</title>
<a href="http://localhost:5000/turn">
    <button>Back</button>
</a>

<h1>Beginning Phase</h1>

<p>1. Untap</p>
<p>- All phased out cards phase back in <br>
- Turn player untaps all permenants they control unless otherwise <br>
- Unused Mana empies from each player's mana pool
</p>

<p>2. Upkeep</p>
<p>- All phased out cards phase back in <br>
- The active player gets priority to cast instants, spells with flash, and to use activated abilities. <br>
- Unused Mana empies from each player's mana pool
</p>

<p>3. Draw </p>
<p>- Active player draws a card. This is a turn-based action that does not use the stack <br>
- Abilities triggered "at the beginning of the draw step" and from the active player drawing a card trigger. <br>
- Unused Mana empies from each player's mana pool
</p>