<html>
    <title>MTG-Turn Order</title>
<a href="http://localhost:5000">
        <button>Home</button>
</a><br>
    <p>The order of phases in a Magic the Gathering turn are as shown below. You can click on each phase to get a more detailed description</p>
    
    <p> 
    <a href="http://localhost:5000/turn/Beginning_Phase">
        Beginning Phase
    </a><br>
    1. untap <br> 
    2. upkeep <br> 
    3. draw  
    </p>

    <p>
    <a href="http://localhost:5000/turn/Main_Phase">
        Pre-Combat Main Phase
    </a> <br>
    You can play spells and abilities.
</p>

    <p>
    <a href="http://localhost:5000/oopsie">
        Combat Phase
    </a><br>
    1. Beginning of Combat - Abilities will trigger at this time. Instants and abilities can be cast  <br>
    2. Declare Attackers - Choose attacking creatures and targets. Instants and abilities can be cast<br>
    3. Declare Defenders - Defending player(s) choose creatures to block attacking creatures. Triggered abilities that trigger off attackers being declared trigger. <br>
    4. Combat Damage - First and Double Strike calculated first, then damage to blockers and other targets. <br>
    5. End of Combat - "At end of combat" effects trigger. All creatures and planeswalkers are removed from combat. "At end of combat" effects end. Abilities and Instants can be cast.
</p>

    <p>
    <a href="http://localhost:5000/turn/Main_Phase">
        Post-Combat Mainphase 
    </a><br>
    You can play spells and abilities.
</p>
    <p>
    <a href="http://localhost:5000/oopsie">
        Ending Phase
    </a><br>
    1. End - "At the beginning of the end step" or "At the beginning of the next end step" triggered abilities trigger. <br>
    2. Cleanup - The active player discards down to his maximum hand size. All damaged removed and  "until end of turn" or "this turn" effects end. 
</p>
<br>
    <p>Click below for the full PDF!</p>
    <a href="https://pokeinthe.io/files/Magic%20the%20Gathering%20Turn%20Structure.pdf">
        <button>Turn Rulings Full</button>
    </a>

</html>